<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Configuración</h5>
          <div class="mb-3">
            <label for="input-file-matrix" class="form-label">Matriz</label>
            <input #inputFileMatrix class="form-control" id="input-file-matrix" (change)="readFile($event)" type="file">
          </div>
          <button (click)="generateMatrix()" class="btn btn-primary">Cargar</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div *ngIf="matrixBase.length > 0" class="matrix-container">
        <div *ngFor="let matrixRow of matrixBase; let rowIndex = index" class="matrix-row">
          <div *ngFor="let matrixCol of matrixRow; let colIndex = index" [ngClass]="{'matrix-wall': (matrixCol == 1)}" class="matrix-col">
            <ng-container *ngFor="let colResult of matrixResult">
              <span *ngIf="(colResult.row === rowIndex && colResult.col === colIndex)">1</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>